{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

<table class="table table-striped">
  <thead>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Operation</th>
    <th>Price</th>
    <th>Transacted</th>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{stock.stock}}</td>
      <td>{{stock.quantity}}</td>
      <td>{{stock.operation}}</td>
      <td>{{stock.price | usd}}</td>
      <td>{{stock.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}